
.body {

background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0px;
padding-top: 105px;
}

#cabezera {
background: #fff;
box-shadow:  2px 0px 0px 2px black;
}




ul {
	padding: 0px;
	margin: 0px;
}

ul > li {


	padding: 10px;
	text-decoration: none;   
}



ul > li > a {
     
color: #263238;
font-family:'Open Sans', sans-serif ;
font-size: 15px;
padding: 20px;



}

ul >li > a:hover {

	color: #fff;
	background: #424242;
	transition: 100ms;

border-radius: 3px;
}


#registro  {

border: solid 2px black;
margin: auto;
color: #000;
background: #fff;

}

#registro:hover {

	font-weight: bold;
	color: black;
}

#registro2  {

border: solid 2px #EC5252;
margin: auto;
background: #EC5252;
color: #FFF;
}

#registro2:hover {

	background: black;
	color:#fff;
	border: solid 2px #000;
}



/* CARROUSEL */






/* CARROUSEL */

 .carousel-item {

  height: 400px;
  width: auto;
  min-height: 400px;
  min-width: auto;
  object-fit: cover;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}







.text-carrousel{

font-size: 30px;
padding: 5px;
border-style: solid; 
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: relative;
margin: auto;




}



/* Section Services 

.services-section{

background: #fff;
padding: 30px;
margin-top: 10px;

}



.services-section .icono {

    font-size: 50px;

    color: #fff;
   float: left;
   margin-right: 20px;

}




.services-section   h2 {


font-size: 30px;
text-align: center;
color: #fff;
}


.services-section   p {


font-size: 15px;
text-align: justify;
color: #fff;
}



.service_one {

	
padding: 40px;
background: #43A047;

}



.service_two{

padding: 40px;
background: #388E3C;
}


.service_three {

  background: #2E7D32;
  padding: 40px;
}


.service_four {
 

  background: #1B5E20;
  padding: 40px;


}

/*.servicios:hover{
background: none;

 }  */




/*
#iconos{

	padding: 5px;
	border-radius: 5px;
}




.servicios p{


font-size: 10px;

color: black;


}


 */


.information {

  height: 700px;
  width: auto;
  background: #ccc;
}


.information  h1 {

text-align:  center;
color: #fff;
font-family: 'Source Sans Pro', sans-serif;
}